.banner {
  padding-top: 4rem;
  display: grid;
  gap: 30px;
  grid-template-columns: 100%;
  @media (min-width: $bp-med) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .hero {
    @media (min-width: $bp-med) {
      grid-area: 1 / 1 / 3 / 3;
    }
    img {
      object-fit: cover;
      height: 100%;
    }
    p {
      margin: 0;
    }
    p:first-letter {
      font-size: 2.75em;
      font-family: "Alfa Slab One", sans-serif;
      color: var(--primary);
      float: left;
      line-height: 60px;
      padding-right: 8px;
    }
    p:first-line {
      line-height: 150%;
    }
  }

  .title-area {
    font-size: 2.25rem;
    letter-spacing: -0.5px;
    @media (min-width: $bp-med) {
      grid-column: 3 / 4;
    }
    img.logo {
      width: 180px;
    }
    img.badge {
      width: 220px;
      padding-top: 20px;
    }
    img.jersey {
      width: 300px;
      padding-top: 40px;
    }
  }

  .content-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (min-width: $bp-med) {
      grid-row: 2 / 3;
    }
    p {
      margin: 0;
    }
    button.link {
      font-weight: 800;
      font-size: 1.25rem;
      width: 112px;
      border-bottom: 3px var(--primary) solid;
    }
    a {
      padding-top: 1rem;
      display: inline-block;
      color: #fff;
      font-weight: 800;
      font-size: 1.25rem;
      border-bottom: 3px var(--primary) solid;
    }
  }
}

.fan-art .hero img {
  height: auto;
  padding: 1rem 0;
}

.main .hero {
  position: relative;
  .badge {
    bottom: 10px;
    left: 20px;
    position: absolute;
    width: 90px;
    height: auto;
    filter: drop-shadow(0px 0px 16px #000);
    @media (min-width: $bp-med) {
      width: 120px;
    }
    @media (prefers-reduced-motion: no-preference) {
      animation-name: logo-spin;
      animation-duration: 3s;
      animation-timing-function: 3s;
      animation-delay: 1s;
      animation-iteration-count: 2;
      animation-play-state: running;
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
